
#IMAGEM{
    TEXT-ALIGN:CENTER;
}
 
#LINK{
 TEXT-ALIGN:CENTER;
}


P{

     color:red;
     font-size:30;
     text-align:right;
}
h1 { 
     color:blue;
     text-align: center;
     font-size:50;
}  

h2 {
     color:green;
     text-align: left;
     font-size:40;
